$navbackground: rgba(42, 66, 112, 1);

.top-bar {
  background: $navbackground;
  padding: 0;

  .menu-text {
    color: white;
    font-size: 2em;
  }
  .menu-text:hover {
    cursor: default;
  }

  .menu {
    background: rgba(42, 66, 112, 1);
    color: white;

    li:hover:not(.menu-text) {
      background-color: rgba(69, 91, 138, 1);
    }

    .link {
      display: inline;
      height: 54px;
      color: white;
    }

    .link:hover {
      background-color: $navbackground;
    }
  }
}

@media (max-width: 600px) {
  .top-bar, .top-bar-left {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 35px;
    .menu-text {
      display: none;
    }
    .link {
      font-size: .9em;
      padding: 10px 5px;
      margin: 0;
    }
    .link:hover {
      background-color: rgba(69, 91, 138, 1);
    }
  }
}
