.event-box {
  display: block;
  position: relative;
  border: 1px solid black;
  padding: 10px 20px;
  margin: 0 0 20px 0;
  background: rgba(183, 181, 182, 0.1);
  box-shadow: 2px 2px 2px black;
  transition: 0.3s ease;

  p {
    line-height: 15px;
  }
  .event-name {
    font-size: 1.2em;
  }
}

.event-box:hover {
  background: rgba(183, 181, 182, 0.4);
  transition: 0.3s ease;

  a {
    text-decoration: none;
  }
}

.event-box-link {
  color: black;
}

.event-box-link:hover {
  color: black;
}


@media (max-width: 600px) {
  .event-box {
    width: 88%;
    margin: 15px 20px;
    p {
      line-height: 18px;
    }
    .event-name {
      text-align: center;
      margin-bottom: 15px;
    }
  }
}
