.custom-button {
  width: 140px;
  height: 80px;
  padding: 0;
  border-radius: 0;
}

.admin-fee {
  width: 150px;
}

.td-1, .td-2 {
  width: 100px;
}


.edit {
  font-size: 1em;
  margin: 10px 0 20px 0;
}

.disabled-message, .error-message {
  color: red;
}

.fi-plus, .fi-minus {
  font-size: 3em;
}

@media (max-width: 600px) {
  .fi-plus, .fi-minus {
    font-size: 1.5em;
  }
  .custom-button {
    width: 40px;
    height: 40px;
  }
  .td-1, .td-2 {
    width: 50px;
  }
  .edit {
    margin: -20px 0 10px 0;
    font-size: 0.6em;
  }
}
