.custom-button {
  width: 85px;
  height: 85px;
  padding: 0;
}

.admin-fee {
  width: 150px;
}

.edit {
  font-size: 0.4em;
  margin-left: 20px;
}

.disabled-message, .error-message {
  color: red;
}

.fi-plus, .fi-minus {
  font-size: 3em;
}

@media (max-width: 600px) {
  
}
